#################
# COMMON
#################

# AWS
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_SESSION_TOKEN=test
AWS_ENDPOINT_URL=http://localstack:4566
AWS_ENDPOINT_URL_SQS=http://localstack:4566
AWS_ENDPOINT_URL_ATHENA=http://wiremock:8080

# Auth
HMPPS_AUTH__URL=https://sign-in-dev.hmpps.service.justice.gov.uk/auth

# Datastore (Athena)
DATASTORE__OUTPUT_BUCKET=s3://emds-dev-athena-query-results-20240917144028307600000004
DATASTORE__ROLE_ARN=
DATASTORE__DATABASE=acquisitive_crime_dev_dbt
DATASTORE__WORKGROUP=placeholder

#################
# API
#################

ATHENA_WORKGROUP=800964199911-default

#################
# ALGORITHM
#################

# Auth
ALGO__CLIENT_CREDS_CLIENT_ID=
ALGO__CLIENT_CREDS_CLIENT_SECRET=

#################
# UI
#################

# Auth
UI__AUTH_CODE_CLIENT_ID=
UI__AUTH_CODE_CLIENT_SECRET=
UI__CLIENT_CREDS_CLIENT_ID==
UI__CLIENT_CREDS_CLIENT_SECRET=

# OS
UI__OS_MAPS_API_KEY=
UI__OS_MAPS_API_SECRET=
